{% extends 'base.html.twig' %}

{% block title 'Agency' %}

{% block body %}
  <div class="jumbotron text-center">
    <h1>Agence lorem ipsum</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
    </p>
  </div>

  <div class="container">
    <h2>Les derniers biens</h2>
      <div class="row flex">
          {% for property in properties %}
              <div class="col-3">
                  <div class="card">
                      <div class="card-body">
                          <h5 class="card-title">
                            <a href="{{ path('property.show', {id: property.id, slug: property.slug}) }}">{{ property.title }}</a>
                          </h5>
                          <p class="card-text">{{ property.city }} {{ property.postalCode }}</p>
                          <div class="text-primary" style="font-weight: bold; font-size: 1.5rem;">{{ property.formatedprice }} €</div>
                      </div>
                  </div>
              </div>
          {% endfor %}
      </div>
  </div>
{% endblock %}
