{% extends 'base.html.twig' %}

{% block title 'Cree un nouveau bien' %}

{% block body %}
  <div class="container mt-4">
    {{ include('admin/property/_form.html.twig', {form: form, button: 'Cree'}) }}
  </div>
{% endblock %}
